<div>
  <h1 mat-dialog-title>{{data.Match}}</h1>
  <div class="row" style="padding:10px">
    <div mat-dialog-content class="col-md-6">
      <mat-form-field>
        <mat-select placeholder="1x2" [(ngModel)]="options.value_1x2">
          <mat-option value="1">1</mat-option>
          <mat-option value="x">x</mat-option>
          <mat-option value="2">2</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div mat-dialog-content class="col-md-6" style="margin-left: 2vw;">
      <mat-form-field>
        <mat-select placeholder="1x2ht" [(ngModel)]="options.value_1x2ht">
          <mat-option value="1">1</mat-option>
          <mat-option value="x">x</mat-option>
          <mat-option value="2">2</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>


  <div class="row" style="padding:10px">
    <div mat-dialog-content class="col-md-6">
      <mat-form-field>
        <mat-select placeholder="ou05" [(ngModel)]="options.value_ou05">
          <mat-option value="o 0.5">o 0.5</mat-option>
          <mat-option value="u 0.5">u 0.5</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-content class="col-md-6" style="margin-left: 2vw;">
      <mat-form-field>
        <mat-select placeholder="ou05ht" [(ngModel)]="options.value_ou05ht">
          <mat-option value="o 1.5">o 1.5</mat-option>
          <mat-option value="u 1.5">u 1.5</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row" style="padding:10px">
    <div mat-dialog-content class="col-md-6">
      <mat-form-field>
        <mat-select placeholder="ou15" [(ngModel)]="options.value_ou15">
          <mat-option value="o 1.5">o 1.5</mat-option>
          <mat-option value="u 1.5">u 1.5</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div mat-dialog-content class="col-md-6" style="margin-left: 2vw;">
      <mat-form-field>
        <mat-select placeholder="ou15ht" [(ngModel)]="options.value_ou15ht">
          <mat-option value="o 1.5">o 1.5</mat-option>
          <mat-option value="u 1.5">u 1.5</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row" style="padding:10px">

    <div mat-dialog-content class="col-md-4">
      <mat-form-field>
        <mat-select placeholder="ou25" [(ngModel)]="options.value_ou25">
          <mat-option value="o 2.5">o 2.5</mat-option>
          <mat-option value="u 2.5">u 2.5</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-content class="col-md-4" style="margin-left: 2vw;margin-right: 2vw;">
      <mat-form-field>
        <mat-select placeholder="ggng" [(ngModel)]="options.value_ggng">
          <mat-option value="GG">GG</mat-option>
          <mat-option value="NG">NG</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div mat-dialog-content class="col-md-4">
      <mat-form-field>
        <mat-select placeholder="Double change" [(ngModel)]="options.double_change">
          <mat-option value="1x">1X</mat-option>
          <mat-option value="12">12</mat-option>
          <mat-option value="X2">X2</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button class="btn btn-primary" style="margin-right: 2vw;" (click)="update()">Save</button>
    <button class="btn btn-muted" (click)="close()">Close</button>
  </div>
</div>