<app-navbar></app-navbar>
<div class="main-content">
  
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-6">
        <p style="margin-top: 1rem;">
          Sports
        </p>
        <div class="table-responsive">
          <ag-grid-angular class="ag-theme-balham" [rowData]="sports" [gridOptions]="sportsGridOptions"
            [columnDefs]="columnDefs" [modules]="modules" [domLayout]="domLayout" (gridReady)="onGridReady($event)">
          </ag-grid-angular>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card" style="margin-top: 55px;">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Add new Sports</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email address" type="email">
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p style="margin-top: 1rem;">
          Nations
        </p>
        <div class="table-responsive">
          <ag-grid-angular class="ag-theme-balham" [rowData]="nations" [gridOptions]="nationsGridOptions"
            [columnDefs]="columnDefs" [modules]="modules" [domLayout]="domLayout" (gridReady)="onGridReady($event)">
          </ag-grid-angular>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card" style="margin-top: 55px;">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Add new Nation</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email address" type="email">
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p style="margin-top: 1rem;">
          Champions
        </p>
        <div class="table-responsive">
          <ag-grid-angular class="ag-theme-balham" [rowData]="nations" [gridOptions]="championsGridOptions"
            [columnDefs]="columnDefs" [modules]="modules" [domLayout]="domLayout" (gridReady)="onGridReady($event)">
          </ag-grid-angular>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card" style="margin-top: 55px;">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Add new Champion</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email address" type="email">
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>