<app-navbar (onImportChange)="onFileChange($event)"></app-navbar>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <ag-grid-angular class="ag-theme-balham" [rowData]="rowData" [gridOptions]="gridOptions"
            [columnDefs]="columnDefs" [modules]="modules" [domLayout]="domLayout" (gridReady)="onGridReady($event)">
          </ag-grid-angular>
        </div>
      </div>
    </div>
  </div>
</div>