
<div>
  <div class="container-fluid">
    <div class="form-group">
        <label class="btn btn-primary" for="file">Import New Matches</label>
        <input type="file" id="file" (change)="onFileChange($event)">
        <label class="btn btn-primary" style="margin-left: 10px;" (click)="publishMatches()" >Publish Matches</label>
        <!-- *ngIf="rowDataLength" -->
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <ag-grid-angular class="ag-theme-balham" [rowData]="rowData" [gridOptions]="gridOptions"
            [columnDefs]="columnDefs" [modules]="modules" [domLayout]="domLayout" (gridReady)="onGridReady($event)">
          </ag-grid-angular>
        </div>
      </div>
    </div>
  </div>
</div>