
<div class="container-fluid" style="margin-top: 55px;">
  <div class="card">
    <div class="card-header card-header-danger">
      <h4 class="card-title">Generate Bets</h4>
    </div>
    <div class="card-body">
      <div style="padding:10px" class="row">
        <div mat-dialog-content class="col-md-4">
          <mat-form-field>
            <mat-select placeholder="Champions" [(ngModel)]="generateBetsFilters.champions">
              <ng-container *ngFor="let item of champions">
                <mat-option value="{{item.name}}">{{item.name}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <div mat-dialog-content class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Min quote" [(ngModel)]="generateBetsFilters.minQuote">
          </mat-form-field>
        </div>
        <div mat-dialog-content class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Max quote" [(ngModel)]="generateBetsFilters.maxQuote">
          </mat-form-field>
        </div>
        <div mat-dialog-content class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Number of matches" [(ngModel)]="generateBetsFilters.numberOfMatches">
          </mat-form-field>
        </div>
        <div mat-dialog-content class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="stack" [(ngModel)]="generateBetsFilters.stack">
          </mat-form-field>
        </div>
        <div mat-dialog-content class="col-md-4">
          <mat-form-field>
            <mat-select placeholder="Kind of prediction" [(ngModel)]="generateBetsFilters.kindOfPrediction">
              <ng-container *ngFor="let item of predictions">
                <mat-option [value]="item">{{item}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div mat-dialog-actions>
        <button class="btn btn-primary" (click)="generateResults()">Generate</button>
      </div>
    </div>
    <div class="table-responsive">
      <ag-grid-angular class="ag-theme-balham" [rowData]="generateBets" [gridOptions]="generateBetsOptions" [modules]="modules" [domLayout]="domLayout" (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
  </div>

</div> 